#header {
    grid-area: header;
}
#nav {
    grid-area: nav;
}
#aside-left {
    grid-area: aside-left;
}
#aside-right {
    grid-area: aside-right;
}
#main {
    grid-area: main;
}
#footer {
    grid-area: footer;
}


/* ================================================================================================================
/* Repostive for Screen 4K 8K*/
@media (max-width: 8000px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "aside-left main aside-right"
            "footer footer footer";
        font-size: 48px;
        justify-content: center;
        align-content: center;
        margin: 0px;
        padding: 0px;
    }

    header {
        background-color: aqua;
        margin: 0px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        background-color: rgb(0, 190, 189);
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside {
        background-color: rgb(163, 189, 255);
        margin: 0px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        background-color: rgb(0, 184, 255);
        margin: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        background-color: rgb(88, 255, 255);
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        background-color: rgb(220, 255, 255);
        margin: 20px;
        padding: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        background-color: rgb(0, 140, 189);
        margin: 0px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* ================================================================================================================ */
/* Repostive for Screen FHD 2K*/
@media (max-width: 3000px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "aside-left main aside-right"
            "footer footer footer";
        font-size: 24px;
        justify-content: center;
        align-content: center;
        margin: 0px;
        padding: 0px;
    }

    header {
        background-color: aqua;
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        background-color: rgb(0, 190, 189);
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    aside {
        background-color: rgb(163, 189, 255);
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        background-color: rgb(0, 184, 255);
        margin: 0px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        background-color: rgb(88, 255, 255);
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        background-color: rgb(220, 255, 255);
        margin: 10px;
        padding: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        background-color: rgb(0, 140, 189);
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* ================================================================================================================ */
/* Repostive for Screen Mobile */
@media (max-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "nav"
            "aside-right"
            "aside-left"
            "main"
            "footer";
        font-size: 16px;
        justify-content: center;
        align-content: center;
        margin: 0px;
        padding: 0px;
    }

    header {
        background-color: aqua;
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        background-color: rgb(0, 190, 189);
        margin: 0px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside {
        background-color: rgb(163, 189, 255);
        margin: 0px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        background-color: rgb(0, 184, 255);
        margin: 0px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        background-color: rgb(88, 255, 255);
        margin: 4px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        background-color: rgb(220, 255, 255);
        margin: 4px;
        padding: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        background-color: rgb(0, 140, 189);
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}